body{
	background-color: gray;
}
h1{
	text-align: center;
	background-color: 3c5293	;
	margin: 50px auto;
	padding: 30px auto;
	color: white;
}
img{
	border: 2px solid lightgray;
	border-radius: 15px 50px 30px;
	height: 150px;
	width: 150px;
	margin: 5px;
	margin-left: 30px;
	padding: 10px;
	display: inline-block;
	/*vertical-align: top;*/

}
img:hover{
	background-color: darkgray;
}
.inner_content{
	display: grid;
	grid-template-columns: 40% 60%;
	margin-left: 10px;
	margin-top: 20px;
}
.info{
	float: right;
}